.rent-car-page {
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #fff5e6, #ffd699);
}

.rent-car-preview-container {
    width: auto;
    height: auto;
    padding: 30px;
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.rent-car-detail-title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(0, 0, 0, 0.6);;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.rent-car-detail-photo {
    width: 550px;
    height: 380px;
}

.rent-car-detail-content {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(0, 0, 0, 0.6);;
    font-size: 15px;
    padding-top: 30px;
    text-align: left;
}

.rent-car-right {
    margin-left: 70px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.rent-car-date-picker {
    z-index: 0;
    cursor: pointer;
}

.rent-car-price {
    margin-top: 20px;
    z-index: 10;
    text-align: left;
    color: green;
    font-weight: bold;
}

.rent-button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
}