.Container {
    height: 100%;
}

.Navbar {
    margin: auto;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #ffad33;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.AdminIcons {
    cursor: pointer;
    display: flex;
}

.IconWrapper{
    position: relative;
    float: left;
}

i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.badge{
    background: blue;
    color: white;
    width: auto;
    height: auto;
    position: absolute;
    top:-7px;
    right:27px;
}

.Content {
    height: 100%;
    padding-top: 60px;
    display: flex;
}
