.admin-page-content {
    height: auto;
    min-height: 1000px;
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #fff5e6, #ffd699);
}

.car-preview-container {
    width: 250px;
    height: 350px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
}

.add-item-title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(0, 0, 0, 0.6);;
    font-size: 20px;
    font-weight: bold;
    height: 20%;
    padding-top: 20px;
}

.add-item-photo {
    width: 170px;
    height: 190px;
    padding-top: 20px;
    cursor: pointer;
    z-index: 10;
}

.car-detail-title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(0, 0, 0, 0.6);;
    font-size: 18px;
    font-weight: bold;
    height: 20%;
    padding-top: 20px;
}

.car-detail-photo {
    width: 140px;
    height: 140px;
}

.car-detail-content {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgba(0, 0, 0, 0.6);;
    font-size: 15px;
    padding-top: 30px;
}

.car-detail-button {
    margin-top: 12px;

}