.topbar {
    padding: 5px;
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: dodgerblue;
}

.questions-title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.exit-button {
    cursor: pointer;
    color: white;
}

.modal-dim {
    width: 800px;
    height: 70%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow-y:auto;
    height: 100%;
}

.question-block {
    display: flex;
    flex-direction: column;
}

.question {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    float: left;
    display: flex;
}

.question-text {
    padding: 5px;
    margin-left: 5px;
}

.email {
    padding: 5px;
    width: 200px;
    overflow-x: auto;
    background: orange;
    text-color: white;
    border-radius: 4px;
}

.answer {
    margin-left: 200px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}