.Container {
    height: 100%;
}

.Navbar {
    margin: auto;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #ffad33;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.AdminIcons {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.IconWrapper{
    position: relative;
    margin-right: 25px;
    width: 24px;
    float: left;
}

.badge{
    background: dodgerblue;
    color: white;
    position: absolute;
    top:-10px;
    right:-10px;
}

.Content {
    height: 100%;
    padding-top: 60px;
    display: flex;
}