.UserContainer {
    height: 100%;
}

.UserNavbar {
    margin: auto;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #ffad33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 250px;
}

.UserName {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.UserIconWrapper {
    position: relative;
    margin-right: 25px;
    width: 24px;
    float: left;
    cursor: pointer;
}