.Container {
    height: 100%;
}

.Navbar {
    margin: auto;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #ffad33;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.Login {
    display: flex;
    height: 25px;
}

.InsertLogin {
    margin-right: 10px;
    font-size: smaller;
}

.Content {
    height: 100%;
    padding-top:60px;
    display: flex;
    background-image: linear-gradient(to bottom, #fff5e6, #ffd699);
}

.Photo {
    height: 100%;
    width: 60%;
}
.img-style {
    width: 80%;
    margin-top: 150px;
}

.Register {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 100px;
}

.Join {
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
}

.Register>input {
    border-radius: 5px;
    width: 250px;
    margin-bottom: 15px;
}

.Register>button {
    width: 100px;
    margin-left: 150px;
}